/* defines a title that is prefixed by a icon */
.prefixed-title {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1rem;
}

.prefixed-title .prefix,
.prefixed-title .title {
    display: inline;
    vertical-align: middle;
}

.prefixed-title .prefix {
    font-size: 2rem;
    padding: 0.2rem;
}

/* titles */
.title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* positioning */
.text-center {
    text-align: center;
}

/* text primary theming */
.text-primary {
    color: var(--primary);
}

/* text secondary theming */
.text-secondary {
    color: var(--secondary);
}

/* text light theming */
.text-light {
    color: var(--light);
}
