@import "_variables.css";

/* remove standard styles from links */
.btn {
    text-decoration: none;
}

/* common styles for all buttons */
.btn {
    padding: var(--btn-padding);
    box-shadow: var(--box-shadow);
    text-transform: uppercase;

    border-radius: var(--border-radius);

    transition: all var(--transition-short);
}

@media only screen and (max-width: 576px) {
    .btn {
        display: block;
        width: 100%;
    }
}


/* primary button */
.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}

/* TODO: create a variable for lighten and darken */

/* secondary button */
.btn-secondary {
    background: var(--secondary);
    color: var(--primary);
}

/* primary__gradient button */
.btn-primary__gradient {
    background: var(--primary);
    background-image: linear-gradient(to bottom right, var(--primary), var(--primary-light));
    color: var(--secondary);
}

/* secondary__gradient button */
.btn-secondary__gradient {
    background: var(--secondary);
    background-image: linear-gradient(to bottom right, var(--secondary), var(--secondary-light));
    color: var(--primary);
}
