@import "_variables.css";

body {
    padding: 1em!important;
}
/* collection container */
.collection {
    display: block;
    border-radius: var(--border-weight);
    width: 100%;
}

/* collection item */
.collection__item {
    padding: 1rem;
}

/* collection item icon suffix */
.collection__item .suffix {
    float: right;
    cursor: pointer;
    user-select: none;
}

/* collection item prefix (image) */
.collection__item .prefix {
    float: left;
    margin-right: 0.5rem;
}

/* collection primary theming */
.collection--primary {
    background-color: var(--primary-light);
    color: var(--secondary);
}

.collection--primary .collection__item:not(:first-child) {
    border-top: 1px solid var(--primary);
}

/* collection secondary theming */
.collection--secondary {
    background-color: var(--secondary-light);
    color: var(--primary);
}

.collection--secondary .collection__item:not(:first-child) {
    border-top: 1px solid var(--secondary);
}
