/*
 * Declares variables common to most site modules.
 * */

:root {
    /* COLORSCHEMES */
    --primary: rgb(247, 206, 62);
    --primary-light: rgb(255, 235, 164);
    --primary-lighter: rgb(255, 247, 219);

    --secondary: rgb(18, 18, 18);
    --secondary-light: rgb(68, 67, 67);
    --secondary-lighter: rgb(135, 135, 135);

    --light: rgb(230, 230, 230);

    /* BORDER RADIUS */
    --border-weight: 3px;

    /* TRANSITIONS */
    --transition-short: 0.1s ease-out;
    --transition-medium: 0.2s ease-out;
    --transition-long: 0.4s ease-out;

    /* PADDINGS */
    --basic-padding: 0.5rem 1rem;

    /* SHADOWS */
    --box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                  0 3px 1px -2px rgba(0,0,0,0.12),
                  0 1px 5px 0 rgba(0,0,0,0.2);

    /* BREAKPOINTS */
    --break-sm: 576px;
}
